/*
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "RobotoRegular";
$font-size-base: 0.9rem;
$line-height-base: 1.6;*/

// Colors
$text_black: #363b4d;
$mainDarkColor: #5B5B5B;
$secondDarkColor: #303E20;
$bgColor: #F4F7F4;
$formContolColor: #979797;
$greenColor: #A2C580;
$darkGreenColor: #7C9F58;
$starColor: #F7AA28;
