// Variables
@import 'variables';

$fa-font-path: "../webfonts"; 
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';

html {
  height: 100%;
}

body {  
  background: $bgColor !important;
  color: $mainDarkColor !important;  
  font-family: "RobotoRegular" !important; 
  font-size: 13px !important;
  max-width: 1400px;
  margin: auto;
  height: 100%; 
}   

a {
  color: $darkGreenColor; 
}

a:hover {
  color: $darkGreenColor; 
}

#header {
  background-color: #fff;
  border-bottom: 3px solid $bgColor !important;
}
 
header {
  z-index: 1032 !important;
}

#header-inner{
  max-width: 1400px;
  margin: auto;
}

.link-black {
  color: $text_black;
}

.link-black:hover {
  color: $text_black;
}

.link-disabled {
  pointer-events: none;
}

.mh-200px {
  max-height: 200px !important;
}

.fixed-h {
  overflow: hidden;
  height: 35px;
  display: block;
}

.fixed-h-max {
  overflow: hidden;
  max-height: 35px;
  display: block;
}

.top-pages {
  margin-left: 12px;
}

.top-pages li a {
  padding: 0 1rem;
  color: #4A4A4A;
  font-size: 16px;
}

.top-right-pages li a {
  padding: 0 1rem;
  color: #AABABD;
  font-size: 16px;
}

.top-right-pages li a:hover {
  color: $darkGreenColor;
}

.heading-links li a {
  padding: 0;
  margin: 0 1rem;
  font-family: "RobotoMedium";
}

.page-top-title {
  font-family: "RobotoLight";
  color: $secondDarkColor;
}

.text-green {
  color: $darkGreenColor;
}

.text-green:hover {
  color: $darkGreenColor;
}

.profile-img img {
  border: 1px solid #E2EADC;
  border-radius: 3px;
}

.profile-settings {
  color: $greenColor;
  font-size: 17px;
}

.profile-name {
  font-family: "RobotoLight";
  font-size: 20px;
}

.profile-name-link {
  color: $mainDarkColor;
  font-family: "RobotoLight";
  /*font-size: 20px;*/
}

.profile-name-link:hover {
  text-decoration: none;
  color: $mainDarkColor;
}

.profile-rating {
  font-size: 12px;
}

.profile-status {
  font-family: "RobotoLight";
  font-style: italic;
}

.profile-data {
  color: $mainDarkColor;
}

.profile-missions {
  font-family: "RobotoBold";
}

.profile-actions {
  font-size: 16px;
}

.profile-actions ul li a {
  padding: 0;
  margin-right: 1.5rem;
}

.profile-actions ul li:first-child a {
  margin-left: 2px !important;
}

.heading {
  font-size: 16px;
  font-family: "RobotoLight";
}

/* NOTES */
.note-user-img img {
  border-radius: 50%;
  border: 1px solid #E2EADC;
}

.note-user {
  font-size: 15px;
  display: inline-block;
  color: $mainDarkColor;
}

.note-user:hover {
  text-decoration: none;
  color: $mainDarkColor;
}

.note-date {
  color: #9c9c9c;
  font-size: 11px;
}

.note-info {
  padding-left: 0;
  padding-top: 2px;
}

.note-actions a:hover {
  text-decoration: none;
}

.note-actions i {
  font-size: 14px;
}

.note-actions .note-action-badge {
  vertical-align: top;
}

.note-options {
  position: absolute;
  right: 20px;
}

.note-options button {
  color: $darkGreenColor;
}

.note-options button:hover {
  color: $darkGreenColor;
}

.diary-date {
  font-size: 14px;
  display: inline-block;
  color: #5B5B5B;
}

/**/
.table-form .table-form-label {
  text-align: right;
  padding-top: 10px;  
  font-family: "RobotoLight";
}

.side-profile .side-profile-img {
  border-radius: 50%;
  border: 1px solid #CFDBC3;
  box-shadow: 0 1px 1px 1px rgba(106, 172, 39, 0.17);
}

.side-profile .side-profile-img img {
  border-radius: 50%;
}

.side-profile .side-profile-rating {
  display: inline-block;
  background: #fff;
  font-size: 12px;
  color: goldenrod;
  padding: 0 4px 4px 4px;
  position: absolute;
  bottom: -10px;
  margin-right: auto;
  margin-left: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 1px solid #CFDBC3;
  box-shadow: 0 1px 1px 1px rgba(106, 172, 39, 0.17);
}

.side-nav {
  padding: 0;
}

.side-nav li {
  list-style: none;
  margin-bottom: 15px;
}

.side-nav li a {
  color: #4A4A4A;
  font-size: 14px;
}

.side-nav li a:hover {
  text-decoration: none;
}

.side-nav .sub-nav {
  margin-top: 5px;
  padding-left: 25px;
}

.side-nav .sub-nav li {
  position: relative;
  margin-bottom: 10px;
}

.side-nav .sub-nav li:before {
  content: " ";
  position: absolute;
  left: -20px;
  top: 8px;
  width: 8px;
  height: 8px;
  background-color: $greenColor;
  opacity: .5;
  display: block;
  border-radius: 50%;
}

.side-nav .side-nav-badge {
  padding: 1px 8px;
  border-radius: 4px;
  background-color: #E2F5CF;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  float: right;
}

.soc-share {
  font-size: 14px;
}

.star {
  color: #E8EDE2;
}

.star-filled {
  color: $starColor;
}

.block-white {
  background-color: #fff;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(48, 62, 32, 0.1);
  text-align: center;
}

.block-white-lite {
  background-color: #fff;
}

.side-menu {
  top: 60px;
  background: #fff;
  height: 90vh !important;
  overflow-y: scroll !important;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.side-menu:hover {
  &::-webkit-scrollbar-thumb {
    background-color: #888;
  }
}

#content {
  margin-top: 60px;
}

.font-light {
  font-family: "RobotoLight";
}

.font-medium {
  font-family: "RobotoMedium";
}

.font-bold {
  font-family: "RobotoBold";
}

.text-help {
  font-size: 12px;
  color: #7F7F7F;
  font-weight: normal;
}

.auth-title {
  font-size: 19px;
  color: $secondDarkColor;
  font-family: "RobotoLight";
}

.auth-or {
  font-size: 13px;
  font-family: "RobotoLight";
  position: absolute;
  display: inline-block;
  background-color: #fff;
  padding: 0 10px;
  transform: translate(-50%, -50%);
  left: 50%;
  margin-bottom: 26px;
}

.auth-or-block {
  position: relative;
  margin-bottom: 20px;
}

.auth-or-block:after {
  content: "";
  display: block;
  height: 1px;
  background-color: #D7E0CC;
}

/* TRANSITIONS */
.transition-3 {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*Buttons*/
.top-menu-btn {
  cursor: pointer;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.top-menu-btn {
  background-color: #FFFFFF;
  border-color: #FFFFFF #FFFFFF #cccccc;
  color: #333;
}

/* Bootrstrap override */
.form-group label {
  font-family: "RobotoLight" !important;
}

.form-group .form-control {
  border-radius: 0;
  height: 30px;
  border: 1px solid #d5d5d5;
  font-size: 12px;
}

.form-group .form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-group .form-control:active {
  outline: none !important;
  box-shadow: none !important;
}

.form-group .form-control:-moz-focus-inner {
  border: 0 !important;
  box-shadow: none !important;
}

.form-group textarea {
  height: 100px !important;
}

.form-group .textarea-sm {
  height: 35px !important;
  border-radius: 3px !important;
}

.dropdown-menu {
  font-size: 12px !important;
}

.dropdown-menu .dropdown-item {
  padding: 5px 10px;
}

.dropdown-menu .dropdown-item:focus {
  background: $greenColor !important;
}

.checkbox {
  display: block;
  user-select: none;
}

.checkbox input {
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox input:checked ~ .checkmark {
  background-color: $greenColor;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 8px;
  top: 6px;
  width: 6px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkmark {
  height: 12px;
  cursor: pointer;
  display: block;
  width: 12px;
  background-color: #fff;
  border: 1px solid $formContolColor;
  margin-top: -15px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.search-input-rounded {
  border-radius: 20px;
  height: 28px;
  font-size: 0.85em;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    background: #fff;
    border-radius: .5em;
    float: left;
    padding: .5em;
}

.fileContainer [type=file] {
    cursor: pointer;
}

.uploaded-img-delete {
    position: absolute;
    top: -1px;
    right: 3px;
    font-size: 16px;
    color: black;
}

.uploaded-img-delete i{
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}
.uploaded-img-delete:hover {
  color: brown;
}

/* Buttons */
.btn-default {
  width: 100%;
  background: $greenColor;
  color: #fff;
  padding: 3px 8px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  border: 1px solid $darkGreenColor;
  border-radius: 4px;
  text-align: center;
  display: block;
}

.btn-default:hover {
  text-decoration: none;
  color: #fff;
}

.btn-default-sm {
  font-size: 12px !important;
}

.btn-green-lite {
  background: transparent;
  color: $darkGreenColor;
  padding: 3px 8px;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  border: 1px solid $darkGreenColor;
  border-radius: 4px;
  text-align: center;
  display: block;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.btn-green-lite:hover {
  background-color: $greenColor;
  text-decoration: none;
  color: #fff;
}

.btn-green{
  background-color: $greenColor;
  text-decoration: none;
  color: #fff;
}

.btn-adavai {
  float: right;
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Menu Mobile */
#side-menu {
  background: #fff;
}

#site-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

.img-caption-wrap{
  position: relative;
}

.img-caption{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  text-align: center;
  padding: 5px;
  font-size: 12px;
  display: none;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.img-caption a{
  color: #fff !important;
}

.img-caption-wrap:hover .img-caption{
  display: block;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

/* Validations */

.error-help-block{
  color: #dc3545;
  font-size: 80%;
}

/* Colors */

.color-green {
  color: $darkGreenColor !important;
}

.color-green-mute {
  color: #b0c59a !important;  
}

.color-gray {
  color: #9c9c9c !important;
}

.color-red {
  color: #dc3545 !important;
}

.color-black {
  color: $mainDarkColor !important;  
}

/* Mission */

.mission-list-header {
  font-size: 1.15em;
}

/* Font */

.fs-10 {
  font-size: 1em !important;
}

.fs-9 {
  font-size: 0.9em !important;
}

.fs-8 {
  font-size: 0.8em !important;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("/public/fonts/RobotoRegular/RobotoRegular.eot");
  src: url("/public/fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("/public/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
 
@font-face {
  font-family: "RobotoLight";
  src: url("/public/fonts/RobotoLight/RobotoLight.eot");
  src: url("/public/fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("/public/fonts/RobotoLight/RobotoLight.woff") format("woff"), url("/public/fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("/public/fonts/RobotoMedium/RobotoMedium.eot");
  src: url("/public/fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("/public/fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("/public/fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("/public/fonts/RobotoBold/RobotoBold.eot");
  src: url("/public/fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("/public/fonts/RobotoBold/RobotoBold.woff") format("woff"), url("/public/fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.side-profile-rating{
		display: none !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


	#top-right-navigation{
		position: absolute;
		display: none;
		width: auto;
		top: 55px;
		padding: 10px;
		right: 0;
		background: #fff;
		z-index: 1031;
		box-shadow: 0px 2px 4px rgba(48, 62, 32, 0.1);
	}

	.table-form-label{
		display: none;
	}

}

/* Radio start */

#ro_h2 a{
  width: 100%;
  display: block;
  background: #dc3545;
  border-radius: 3px;
  margin: 5px 0;
  border: none;
  text-align: center;
  padding: 8px;
  color: #fff;
  text-decoration: none;
}

#ro_h2 a:hover{
  color: #fff;
  text-decoration: none;
}

/* Radio end */

.social-icon-container {
  margin: 5px; 
  padding: 0px; 
  outline: none; 
  border: none; 
  border-radius: 0px; 
  cursor: pointer; 
  display: inline-block; 
  width: 32px; 
  height: 32px; 
  left: 0px; 
  top: 0px; 
  box-sizing: content-box;
}

#pagination .active .page-link {
  background-color: $darkGreenColor !important;
  border-color: $darkGreenColor !important;
  color: #fff;
}

#pagination .page-link {
  color: #272727;
}

/* CHAT START */

.chat-user-info .chat-user {
  font-size: 13px;
  color: #7C9F58;
}

.chat-user-img {
  margin-top: 2px;
}

.chat-user-img img {
  border-radius: 50%;
  border: 1px solid #E2EADC;
}

.chat-date {
  color: #9c9c9c;
  font-size: 11px;
}

#chat-messages {
  height: 300px;
  overflow: auto;
}

#chat-search {
  height: 300px;
  overflow: hidden;
}

#chat-search:hover{
  overflow: auto;
}

#message-send-form label{
  font-family: "RobotoLight";
}

#message-send-form textarea{
  font-size: 12px;
}

.message-icon-item {
  font-size: 16px;
}

#chat-search h6 {
  font-size: 16px;
  font-family: "RobotoLight";
}

.chat-message-sender{
  background: #E2F5CF;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  float: right;
}

.conversation-selected {
  background: #E2F5CF;
}

.chat-unread-badge {
  background: crimson;
  color: #fff;
  position: absolute;
  right: 10px;
  bottom: -5px;
  display: flex;
  font-weight: 700;
  min-width: 20px;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  font-size: 10px;
  padding: 0 4px;
  border-radius: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* CHAT END */

/* PROGRESS START */

.progress-outer{
  width: 100%;
  background-color: #dcdcdc;
  height: 3px;
  position: relative;
}

.progress-inner{
  height: 3px;
  background-color: #a2c580;
}

.progress-max .progress-inner::after{
  background: url('/public/img/icon3.png');
  background-size: cover;
  height: 20px;
  width: 20px;
  content: "";
  top: -8px;
  left: inherit;
  position: absolute;
}

.progress-med .progress-inner::after{
  background: url('/public/img/icon2.png');
  background-size: cover;
  height: 20px;
  width: 20px;
  content: "";
  top: -8px;
  left: inherit;
  position: absolute;
}

.progress-min .progress-inner::after{
  background: url('/public/img/icon4.png');
  background-size: cover;
  height: 20px;
  width: 20px;
  content: "";
  top: -8px;
  left: inherit;
  position: absolute;
}

/* PROGRESS END */

.block-outer-hint {
  position: absolute;
  right: 4px;
  bottom: 0;
}

.block-outer-hint i {
  border: 4px solid #fff;
  border-radius: 50%;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: $greenColor;
  background-color: $greenColor;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #side-menu{
    display: none;
    width: 250px;
    height: 100%;
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1031;
    overflow: auto;
  }

  .side-menu{
    height: 100%;
    position: unset !important;
  }

}

.adavai-switch {
  background: rgb(226, 234, 220);
  padding: 5px;
  border-radius: 5px;
}

.adavai-switch a{
  padding: 5px;
  border-radius: 5px;
  color: $mainDarkColor;
  font-family: "RobotoLight";
}

.adavai-switch .active{
  background: #fff;
}

.adavai-switch a:hover{
  text-decoration: none;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.side-profile-rating{
		display: block !important;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	#site-overlay{
		display: none !important;
	}


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#site-overlay{
		display: none !important;
	}


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
	#side-menu{
		display: block;
		position: unset;
		margin-top: 0;
	}
}

