<template>
	<div>

		<div>
		<div class="col-md-12">
          <div class="row" id="notes">
			<main-note-template v-for="(note, index) in notes" 
					v-if="!note.hide" 
					:note="note" 
					:index="index" 
					template="user" 
					v-bind="propsToPass" 
					v-bind:key="note.id"></main-note-template>
          </div>
          <infinite-loading v-if="loadNotes" @distance="1" @infinite="getNotes"></infinite-loading>
          <p class="text-center" v-if="search && !notes.length">{{ Lang.get('message.not.found') }}</p>
        </div>
        </div>

	</div>
</template>

<script>
Vue.component('main-note-template', require('../NoteTemplates/MainNoteTemplateComponent.vue').default);
Vue.component('InfiniteLoading', require('vue-infinite-loading'));
import route from '../../route'; 
import Lang from '../../lang'; 
import { noteScrollMixin } from '../../mixins/NoteScrollMixin';

export default{
    updated: function () {
	  this.$nextTick(function () {
	    $(function () {
		  $('[data-toggle="tooltip"]').tooltip({html: true})
		});
	  })
	},
	props: ['user', 'type'],
	mixins: [noteScrollMixin],
	data(){
		return {
			errors: [],
			hideComments: false,
			Lang: Lang,
			propsToPass: {
				user: this.user,
				type: this.type,
				likedNotes: 1,
			} 
		}
	},
	computed:{
		notes(){
			return this.$store.state.likedNotes;
		}
	},
	created(){
		//this.getNotes(); 
	},
	methods: {
		getNotes($state){
			axios.get(route('note.user.liked.get')+'?page='+this.page)
				.then((response) => {
					this.$store.state.likedNotes.push.apply(this.$store.state.likedNotes, response.data.notes);
					$state.loaded();
					this.page++;
					!response.data.notes.length ? this.loadNotes = false : null; 
			});
		}
	}
} 
</script> 