<template>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 px-0 my-0">
            <form @submit.prevent="editNoteForm(note, index)">
              <div class="form-group">
                <textarea class="form-control emoji-enabled" v-model="note.content" placeholder="Ваш текст" required>
                  {{ note.content }}
                </textarea>
                <span v-if="errors.length" v-for="err in errors" class="invalid-feedback d-block" role="alert" >
                  {{ err }}
                </span>
              </div>

              <div class="col-12">
                  <div class="row">
                    <div class="col-2 p-md-2 p-1 d-relative" v-for="(img, index) in note.images">
                        <img :src="img.thumbnail" class="img-fluid" alt="note">
                        <a href="#" class="uploaded-img-delete" @click.prevent="delNoteImage(img, index)" title="Удалить">
                            <i class="fas fa-times-circle"></i>
                        </a>
                    </div>
                    <div class="col-2 p-md-2 p-1 d-relative" v-for="(file, index) in note.files">
                        <div class="text-center p-2 shadow-sm border">
                          <i class="far fa-file d-block h1"></i>
                          <small>{{ file.short_name }}</small>
                        </div>
                        <a href="#" class="uploaded-img-delete" @click.prevent="delNoteFile(file, index)" title="Удалить">
                            <i class="fas fa-times-circle"></i>
                        </a>
                    </div>
                  </div>
              </div>
              
              <div class="col-12" v-if="files.length">
                  <div class="row">
                        <div class="col-2 p-md-2 p-1 position-relative" v-for="(file, index) in files">
                            <div v-if="file.type == 'image'" class="d-inline-block text-center">
                                <img :src="file.src" class="img-fluid mh-200">
                                <br>
                                <small class="color-gray">{{ file.size | prettyBytes }}</small>
                            </div>
                            <div v-else class="text-center p-2 shadow-sm border">
                              <i class="far fa-file d-block h1"></i>
                              <small>{{ file.name | shortName }}</small>
                              <small class="color-gray">{{ file.size | prettyBytes }}</small>
                            </div>
                            <a href="#" class="uploaded-img-delete" @click.prevent="removeFile(file, index)">
                                <i class="fas fa-times-circle"></i>
                            </a>
                        </div>
                  </div> 
              </div>


              <div class="form-group text-right mb-0">
                <hr v-if="note.images.length">
                <label class="fileContainer color-gray">
                    <i class="fas fa-paperclip h6"></i>
                    <input type="file" :accept="allowMimes" multiple="true" @change="uploadFiles"/>
                </label>
                <button type="submit" class="btn-default btn-default-sm w-auto float-right" :disabled="loading">
                  <span v-if="loading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
                      {{ Lang.get('message.loading') }}
                  </span>
                  <span v-else>
                    {{ Lang.get('note.save') }}
                  </span>
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
</template>

<script>

  import route from '../../route'; 
  import Lang from '../../lang'; 
    export default {
        props:['note', 'index'],
        data(){
            return{
                content: this.note.content,
                errors: [],
                images: [],
                files: [],
                Lang: Lang,
                loading: false,
                imageMimes: ['image/gif', 'image/jpeg', 'image/png'],
                allowMimes: '.jpg, .jpeg, .png, .JPEG, .docx',
            }
        },
        mounted: function(){
          var self = this;
          $('.emoji-enabled').emojioneArea({
              pickerPosition: "bottom",
              tonesStyle: "bullet",
              autocomplete: false
          })

          this.emojioneArea = $('.emoji-enabled')[0].emojioneArea

          this.emojioneArea.on('keyup paste emojibtn.click', function() {
              self.note.content = self.emojioneArea.getText()
          })
        },
        methods:{
            uploadFiles(e){
                var files = e.target.files;
                for (var i = 0, f; f = files[i]; i++) {
                  var reader = new FileReader();
                    reader.onload = (theFile => {
                      return (e) => {
                        this.files.push({
                          name: theFile.name,
                          src: e.target.result,
                          fileData: theFile,
                          type: this.imageMimes.includes(theFile.type) ? 'image' : 'other',
                          size: theFile.size
                        });
                     };
                    })(f);

                    reader.readAsDataURL(f);
                }
            },
            removeFile(file, index){
              this.files.splice(index, 1);
            },
            editNoteForm(note, index){
                if (!this.content) return;
                this.loading = true;
                if (this.files.length == 0) this.data = new FormData();

                this.data.append('id', this.note.id);
                this.data.append('content', this.note.content);

                axios.post(route('note.edit'), this.data)
                  .then((response) => {
                    this.loading = false;
                    this.$emit('editNote', {index: index, note: response.data.note});
                }).catch(error => {
                    this.loading = false;
                    for(var e in error.response.data.errors) {
                      this.errors.push(error.response.data.errors[e]);
                    }
                });
            },
            delNoteImage(img, index){
                var data = {
                    'id': img.id,
                    'note_id': this.note.id
                }
                axios.post(route('note.img.delete'), data)
                  .then((response) => {
                    this.note.images.splice(index, 1);
                }).catch(error => {
                  
                });
            },
            delNoteFile(file, index){
                var data = {
                    'id': file.id,
                    'note_id': this.note.id
                }
                axios.post(route('note.file.delete'), data)
                  .then((response) => {
                    this.note.files.splice(index, 1);
                }).catch(error => {
                  
                });
            }
        },
        watch:{
          files(){
            this.data = new FormData();
            this.files.forEach((item) => {
              if (item.type == 'image') {
                this.data.append('img[]', item.fileData);
              }else{
                this.data.append('documents[]', item.fileData);
              }
            });
          }
        },
        filters: {
          shortName(value){
            if(value.length <= 15) return value;
            return value.substring(0, 15)+'...';
          }
        }  
    }   
</script>
