<template>
	<div>

        <div class="col-12 mt-4 mb-2 p-0" id="notes-wrap">
          <div class="row">
            <div class="col-md-4 col-5">
              <span class="heading">{{ Lang.get('note.all.notes') }}</span>
            </div>
            <div class="col-md-8 col-7">
              <ul class="nav justify-content-end heading-links">
              <li class="nav-item"> 
                <a class="nav-link" href="#" v-if="!showAllNotes" @click.prevent="showUserNotes">
                  <span class="d-md-block d-none">{{ Lang.get('note.my.notes') }}</span>
                  <i class="fas fa-user d-md-none"></i>
                </a> 
                <a class="nav-link" href="#" v-else @click.prevent="showAll">
                  <span class="d-md-block d-none">{{ Lang.get('note.all.notes') }}</span>
                  <i class="fas fa-user d-md-none"></i>
                </a>
              </li>    
              <li class="nav-item">
                <a class="nav-link" href="#" @click.prevent="newNote = !newNote">
                  <span class="d-md-block d-none">{{ Lang.get('note.new.note') }}</span> 
                  <i class="fas fa-plus d-md-none"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#collapseNoteSearch" role="button" aria-expanded="false" aria-controls="collapseNoteSearch">
                  <i class="fas fa-search"></i>
                </a> 
              </li> 
              </ul>
            </div>
          </div> 
        </div> 
        
        <div class="col-12">
        	
        </div>

        <div class="row justify-content-end">
        	<div class="col-md-4 collapse" id="collapseNoteSearch">
				    	<input type="text" 
				    		   v-model="searchInput" 
				    		   class="form-control search-input-rounded my-3"
				    		   @keyup.enter="searchNotes" 
				    		   :placeholder="Lang.get('note.search')">
				
			</div>	
        </div>

		<note-add-component v-if="newNote" :owner="owner" :author="user" :type="type" @addNote="noteAdded"></note-add-component>

		<div>
			
		<div class="col-md-12">
          <div class="row">
			<main-note-template v-for="(note, index) in notes" v-if="!note.hide && note.author" :note="note" :index="index" v-bind="propsToPass" v-bind:key="note.id"></main-note-template>
          </div>
          <infinite-loading v-if="loadNotes" @distance="1" @infinite="getNotes"></infinite-loading>
          <p class="text-center" v-if="search && !notes.length">{{ Lang.get('message.not.found') }}</p>
        </div>
        </div>

	</div>
</template>

<script>
Vue.component('note-add-component', require('./NoteAddComponent.vue').default);
Vue.component('note-edit-component', require('./NoteEditComponent.vue').default);
Vue.component('main-note-template', require('../NoteTemplates/MainNoteTemplateComponent.vue').default);
Vue.component('InfiniteLoading', require('vue-infinite-loading'));
import route from '../../route'; 
import Lang from '../../lang'; 
import { noteScrollMixin } from '../../mixins/NoteScrollMixin';

export default{
    updated: function () {
	  this.$nextTick(function () {
	    $(function () {
		  $('[data-toggle="tooltip"]').tooltip({html: true})
		});
	  })

	},
	props: ['owner', 'user', 'type', 'admin'],
	mixins: [noteScrollMixin],
	data(){
		return {
			searchInput: null,
			newNote: false,
			showAllNotes: false,
			showMyNotes: false,
			hideComments: false,
			Lang: Lang,
			search: false,
			propsToPass: {
	          admin: this.admin,
	          owner: this.owner,
	          user: this.user,
	          type: this.type,
	          storeNoteType: 'userNotes',
	        }
		} 
	},
	created(){
		//this.getNotes(); 
	},
	destroyed(){
		this.$store.state.userNotes = []; 
	},
	computed: {
		notes(){
			return this.$store.state.userNotes;
		}
	},
	methods: {
		getNotes($state){
			var data = {
				owner_id: this.owner,
				search: this.search,
				search_input: this.searchInput,
			}
			const userNotes = this.showMyNotes ? 1 : 0; 
			axios.post(route('notes.get', [userNotes])+'?page='+this.page, data)
				.then((response) => {
					this.$store.state.userNotes.push.apply(this.$store.state.userNotes, response.data.notes);
					$state.loaded();
					this.page++;
					!response.data.notes.length ? this.loadNotes = false : null; 
			});
		},
		noteAdded(note){
			this.newNote = false;
			this.$store.state.userNotes.unshift(note);
			this.hideComments = true;
		},
		showUserNotes(){
			this.showMyNotes = true;
			this.showAllNotes = true;
			this.afterFetching();
		},
		showAll(){
			this.showMyNotes = false;
			this.showAllNotes = false;
			this.afterFetching();
		},
		searchNotes(search = true){
			this.search = search;
			this.afterFetching();
		},
		afterFetching(){
			this.page = 1;
			this.$store.state.userNotes = [];
			this.loadNotes = true;
			$('html, body').animate({
		        scrollTop: parseInt($("#notes-wrap").offset().top)
		    }, 1000);
		}
	},
	watch:{
		searchInput(){
			if (this.searchInput == '') this.searchNotes(false);
		}
	}
} 
</script> 