<template>
	<!--@todo translate-->
	<div v-if="result == 'loading'">
		<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
	</div>
	<div v-else-if="result" class="text-center">
		<i class="far fa-check-circle fa-3x color-green"></i>
		<h6 class="font-light mt-3">{{ Lang.get('adavai.you.shared') }}</h6>
	</div>
	<div v-else>
		<div v-if="!sendMessageWindow">	
			<p class="font-light">{{ Lang.get('adavai.share.soc') }}</p>
	        <button data-sharer="okru" :data-url="currentHostname + route('terminated.share.note', [noteId])" 
	        class="social-icon-container" style="background: url(&quot;https://ulogin.ru/version/3.0/img/providers-32-flat.png?version=img.3.0.1&quot;) 0px -70px / 32px no-repeat;"></button>

	        <button data-sharer="vk" :data-url="currentHostname + route('terminated.share.note', [noteId])"
	        class="social-icon-container" style="background: url(&quot;https://ulogin.ru/version/3.0/img/providers-32-flat.png?version=img.3.0.1&quot;) 0px -36px / 32px no-repeat;"></button>

	        <button data-sharer="facebook" data-hashtag="адавай, fancy" :data-url="currentHostname + route('terminated.share.note', [noteId])"
	        class="social-icon-container" style="background: url(&quot;https://ulogin.ru/version/3.0/img/providers-32-flat.png?version=img.3.0.1&quot;) 0px -138px / 32px no-repeat;"></button>
	        <hr>
	        <p><a href="#" class="font-medium" @click.prevent="shareOnWall">{{ Lang.get('adavai.share.wall') }}</a></p>
	        <p><a href="#" class="font-medium" @click.prevent="sendMessageWindow = true">{{ Lang.get('adavai.send.as.message') }}</a></p>
		</div>
		<div v-else>
			<h6 class="text-center font-light mb-3">{{ Lang.get('adavai.select.chats') }}</h6>
			<div class="row mb-2 mx-3 my-2 p-1 border" v-for="user, index in chats" v-if="user.companion">
                <div class="custom-control custom-checkbox mx-2">
					<input type="checkbox" 
						   class="custom-control-input" 
						   :id="user.companion.id" 
						   :value="user.id" 
						   v-model="selectedChats">
					<label class="custom-control-label" :for="user.companion.id" style="vertical-align: unset;"></label>
				</div>
                <figure class="p-0 m-0 mt-1 chat-user-img">
                    <img :src="user.companion.avatar_thumb" width="50" height="50">
                </figure>
                <div class="px-2 chat-user-info">
                    <span class="note-user mt-3">{{ user.companion.nickname }}</span>
                </div>
            </div>
            <div class="px-3 mt-3">
            	
            	<button class="btn btn-default btn-default-sm mb-2" @click="sendMessages" :disabled="!selectedChats.length">{{ Lang.get('adavai.send') }}</button>
            	<a href="#" @click.prevent="sendMessageWindow = false" class="color-gray">{{ Lang.get('adavai.cancel') }}</a>
            </div>
            
		</div>
	</div>
</template>
 
<script>
import route from '../../route'; 
import Lang from '../../lang'; 

export default{
	data(){
		return {
			Lang: Lang,
			result: false,
			sendMessageWindow: false,
			chats: [],
			route: route,
			selectedChats: [],
		}
	},
	destroyed(){
		this.$store.state.sharingNoteID = null;
	},
	computed:{
		noteId(){
			return this.$store.state.sharingNoteID;
		},
		currentHostname(){
			return window.location.protocol +'//'+ window.location.hostname; 
		}
	},
	methods:{
		shareOnWall(){
			this.result = 'loading';
			axios.get(route('note.share', [this.noteId]))
                .then((response) => {
                	this.result = true;
					setTimeout(()=>{
						$('#note-share-modal').modal('hide');
						this.result = false;
					}, 2000);
                }).catch(error => {
            		this.result = false;
            	});
		},
		getChats(){
            axios.get(route('private-chat.get.conversations'))
                .then((response) => {
                    this.chats = response.data; 
            });
        },
        sendMessages(){
        	if (!this.noteId || this.selectedChats.length <= 0) return;
        	const data = {
        		'chats': this.selectedChats
        	};
        	this.result = 'loading';
        	axios.post(route('chat.share.note', this.noteId), data)
                .then((response) => {
                	this.result = true;
					setTimeout(()=>{
						$('#note-share-modal').modal('hide');
						this.result = false;
					}, 2000); 
            });	
            this.sendMessageWindow = false;
        }
	},
	watch:{
		result(value){
			if (!value) this.$store.state.sharingNoteID = null;
		},
		sendMessageWindow(value){
			if (value) {
				this.getChats();
			} else {
				this.chats = [];
			}
		}
	}
} 
</script> 