<template>
	<div class="col-12 px-0">

		<div class="col-12">
			<div class="row">
				<div class="col-md-6 mt-3">
		          <div class="row note-actions d-flex">

		              <a href="#" 
		              	class="mr-3" 
		              	@click.prevent="like">
		                <i :class="{'fas fa-star' : note.user_liked, 'far fa-star' : !note.user_liked, 'color-gray' : note.adavai }"></i> 
		                <span class="note-action-badge">
		                  {{ note.likes_count }}
		                </span> 
		              </a>
		              <a href="#" class="mr-3" @click.prevent="showComments">
		                <i class="far fa-comment-alt"></i>
		                <span class="note-action-badge"> 
		                  {{ note.comments_count }}
		                </span>
		    
		              </a> 

		              <a href="#" class="mr-3" v-if="canShare() && note.type == 'adavai'" @click.prevent="shareNote(note.id)">
            			<i class="fas fa-bullhorn"></i> 
            		  </a>

            		  <span class="color-gray mr-3" v-if="note.adavai && isAuthor">
            			<i class="fas fa-eye"></i> 
            			<span class="note-action-badge">  
		                  {{ note.views }}
		                </span>
            		  </span>

            		  <a :href="note.adavai.notifications_link"
            		  			  :class="{ 'color-gray' : !note.adavai.notifications_count, 
            		  			  			'color-red' : note.adavai.notifications_count }" 
            		  			  v-if="note.adavai && isAuthor"
            		  			  target="_blank">
	            			<i class="fas fa-bell"></i>
	            			<span class="note-action-badge">  
			                	{{ note.adavai.notifications_count }}
			                </span>
            		  </a>
 
		          </div> 
		        </div>
		        <div class="col-md-6 p-0" v-if="note.type == 'adavai'">
		        	
		        	<button 
			        	class="btn-green-lite w-auto d-block float-right mt-2 ml-3"
			        	:class="{'btn-green' : note.user_adavai, '' : !note.user_adavai}"
			        	@click.prevent="adavaiJoin(note)"
			        	>
		        		{{ note.user_adavai ? Lang.get('adavai.refuse') : Lang.get('note.fancy.btn') }} 
		       	 	</button>
		       	 	
		       	 	<a :href="note.adavai.finished ? route('adavai.reports', [note.id]) : route('adavai.user.bank')"
		       	 			class="btn-default btn-default-sm w-auto d-block float-right mt-2"
		       	 			v-if="isAuthor"
		       	 			target="_blank">
        				{{ note.adavai.finished ? '+ ' + Lang.get('mission.photo.reports') : Lang.get('adavai.promote') }}
       	 			</a>

       	 			<a :href="route('adavai.reports', [note.id])"
		       	 			class="btn-default btn-default-sm w-auto d-block float-right mt-2"
		       	 			v-if="!isAuthor && note.adavai.finished"
		       	 			target="_blank">
        				{{ Lang.get('mission.photo.reports') }}
       	 			</a>

		        </div>
	        </div>
        </div>


	  		<div class="row">
	  		<div class="col-12" v-if="commentsOpen">
	  			<hr>
	  			

	  				<div class="col-12 px-1 mb-3" v-for="(comment, index) in comments">
  					
  						<table>
  						<tr>
  							<td class="align-top">
		  						<figure class="p-0 m-0 note-user-img">
					  				<img :src="comment.user.avatar_thumb" height="35" width="35">
					  			</figure> 
  							</td>
  							<td class="px-2">
			  					<div class="note-info p-0 mb-1">
			  						<a :href="comment.user.nickname" class="note-user color-green">{{ comment.user.nickname }}</a>
			  					</div>
			  					<span>
  									{{ comment.text }}
  								</span>
			  					<p class="note-date my-1">{{ comment.posted_at }}</p>
  							</td>
  							<td class="align-top" v-if="(user == comment.user.id) || admin">
  								<button class="btn btn-link btn-sm color-gray" @click.prevent="deleteComment(comment, index)"><i class="fas fa-times"></i></button>
  							</td>
  						</tr>
  						</table>
  					
  					</div>

	  			<div class="col-12">
	  				<form class="row" @submit.prevent="addComment" v-on:keyup.enter="addComment"> 	
			  			<div class="col-11 mt-4 px-1">
							<div class="form-group">
								<textarea class="form-control textarea-sm" id="emoji-comment" v-model="commentInput" :placeholder="Lang.get('note.your.comment')"></textarea> 
							</div>
						</div>
						<div class="col-1 mt-4 px-1">
							<button type="submit" class="btn btn-link color-gray" :disabled="loading">
								<span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
		                		<i v-else class="fas fa-share"></i>
							</button>
						</div>
	  				</form>
	  			</div>
	  			
	  			<div class="col-12 text-center">
	  				<a href="#" class="color-gray" @click.prevent="commentsOpen = false">{{ Lang.get('note.close') }}</a>
	  			</div>
	  		
	  		</div> 
	  		</div>


	</div>
</template>

<script>
import route from '../../route'; 
import Lang from '../../lang'; 

export default{
	props: ['note', 'user', 'hide', 'admin', 'close_comments', 'is-author', 'type'],
	data(){
		return {
			comments: [],
			commentInput: '',
			commentsOpen: false,
			Lang: Lang,
			route: route,
			loading: false
		}
	},
    updated: function(){
    	if(this.commentsOpen){
			var self = this;

			$('#emoji-comment').emojioneArea({
			    pickerPosition: "left",
			    tonesStyle: "bullet",
			    autocomplete: false
			})

			this.emojioneArea = $('#emoji-comment')[0].emojioneArea

			this.emojioneArea.on('keyup paste emojibtn.click', function() {
			    self.commentInput = self.emojioneArea.getText()
			})
		}

    },
	methods: {
		getComments(){
			axios.get(route('note.comments', [this.note.id]))
				.then((response) => {
					this.comments = response.data.comments;
			});
		},
		showComments(){
			//this.$emit('open', this.note);
			this.getComments();
			this.commentsOpen = true;
		},
		addComment(){
			if (!this.commentInput) return;
			this.loading = true;
			axios.post(route('note.comment.add'), {note_id: this.note.id, text: this.commentInput})
				.then((response) => {
					this.loading = false;
					this.comments.push(response.data.comment);
					this.commentInput = '';
					this.emojioneArea.setText('');
					if (Number.isNaN(this.note.comments_count)) {
						this.note.comments_count = 1;	
					}
					this.note.comments_count++;
			}).catch(error => {
                  this.loading = false;
                }); 
		},
		deleteComment(comment, index){
			if(confirm("Вы уверены?")){
				axios.get(route('note.comment.delete', [comment.id]))
					.then((response) => {
						if(response.data.deleted){
							this.comments.splice(index, 1);
							this.note.comments_count--;
						}
				});
			}
		},
		like(){
			axios.get(route('note.like', [this.note.id]))
				.then((response) => {
					if (response.data.liked) {
						if (Number.isNaN(this.note.likes_count)) {
							this.note.likes_count = 1;
							this.note.user_liked = true;
						} else {
							this.note.likes_count++;
							this.note.user_liked = true;
						}
					}else{ 
						this.note.likes_count--;
						this.note.user_liked = false;
					}
			});
		},
		adavaiJoin(note){
			axios.get(route('adavai.join', [note.id]))
				.then((response) => {
					if (response.data.joined == 'limit'){
						alert(Lang.get('adavai.participants.limit'));
					} else if (response.data.joined) {
						this.note.user_adavai = true;
						if (Number.isNaN(this.note.subscriptions_count)) {
							this.note.subscriptions_count = 1;
						}
						this.note.subscriptions_count++;
					} else{
						this.note.user_adavai = false;
						this.note.subscriptions_count--;
					}
					 
			});
		},
		canShare(){
			if (this.type == 'user' && this.note.author_id == this.user) return false;
			return true; 
		},
		shareNote(noteId){
			this.$store.state.sharingNoteID = noteId;
			$('#note-share-modal').modal('show');
		}
	},
	watch:{
		hide(val){
			if (val) this.commentsOpen = false;
		},
		close_comments(val){
			this.commentsOpen = false;
		}
	}
} 
</script> 