<template>
   <div>
    <div class="col-md-12">
          <div class="row" id="notes">
            <div class="col-md-12 my-2 block-white text-left">
              <div class="row p-4">
                  <div class="col-md-12 px-0 my-0">
                    <form @submit.prevent="addNote" v-on:keyup.enter="addNote">
                      <h6 class="mb-3">{{ Lang.get('note.new.note') }}</h6>
                      <div class="form-group">
                        <textarea class="form-control emoji-enabled" v-model="content" :placeholder="Lang.get('note.your.text')"></textarea>
                        <span v-if="errors.length" v-for="err in errors" class="invalid-feedback d-block" role="alert">
                          {{ err }}
                        </span>  
                      </div>
                      <div class="col-12" v-if="files.length">
                          <div class="row">
                                <div class="col-2 p-md-2 p-1 position-relative" v-for="(file, index) in files">
                                    <div v-if="file.type == 'image'" class="d-inline-block text-center">
                                      <img :src="file.src" class="img-fluid mh-200">
                                      <br>
                                      <small class="color-gray">{{ file.size | prettyBytes }}</small>
                                    </div>
                                    <div v-else class="text-center p-2 shadow-sm border">
                                      <i class="far fa-file d-block h1"></i>
                                      <small>{{ file.name | shortName }}</small><br>
                                      <small class="color-gray">{{ file.size | prettyBytes }}</small>
                                    </div>
                                    <a href="#" class="uploaded-img-delete" @click.prevent="removeFile(file, index)">
                                        <i class="fas fa-times-circle"></i>
                                    </a>
                                </div>
                          </div> 
                      </div>
                      <div class="form-group text-right mb-0">
                        <label class="fileContainer color-gray">
                            <i class="fas fa-paperclip h6"></i>
                            <input type="file" :accept="allowMimes" multiple="true" @change="uploadFiles"/>
                        </label>
                        <button type="submit" class="btn-default btn-default-sm w-auto float-right" :disabled="loading">
                          <span v-if="loading">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
                            {{ Lang.get('message.loading') }}
                          </span>
                          <span v-else>{{ Lang.get('note.send') }}</span> 
                          </button>
                      </div>
                    </form>
                    
                  </div>
              </div>
            </div>
          </div>
        </div>
   </div>
</template>

<script>

  import route from '../../route'; 
  import Lang from '../../lang'; 
    
    export default {
        props:['owner', 'author', 'type'],
        data(){
            return{
                content: '',
                errors: [],
                images: [],
                files: [],
                data: null,
                Lang: Lang,
                loading: false,
                imageMimes: ['image/gif', 'image/jpeg', 'image/png'],
                allowMimes: '.jpg, .jpeg, .png, .JPEG, .docx',
            }
        },
        mounted: function(){
          var self = this;
          $('.emoji-enabled').emojioneArea({
              pickerPosition: "bottom",
              tonesStyle: "bullet",
              autocomplete: false
          })

          this.emojioneArea = $('.emoji-enabled')[0].emojioneArea

          this.emojioneArea.on('keyup paste emojibtn.click', function() {
              self.content = self.emojioneArea.getText()
          })
        },
        methods:{
            uploadFiles(e){
                var files = e.target.files;
                for (var i = 0, f; f = files[i]; i++) {
                  var reader = new FileReader();
                    reader.onload = (theFile => {
                      return (e) => {
                        this.files.push({
                          name: theFile.name,
                          src: e.target.result,
                          fileData: theFile,
                          type: this.imageMimes.includes(theFile.type) ? 'image' : 'other',
                          size: theFile.size
                        });
                     };
                    })(f);

                    reader.readAsDataURL(f);
                }
            },
            removeFile(file, index){
              this.files.splice(index, 1);
            },
            addNote(){
                if (!this.content) return;
                this.loading = true;
                if (this.files.length == 0) this.data = new FormData();
                this.data.append('content', this.content);
                this.data.append('owner_id', this.owner);
                this.data.append('author_id', this.author);
                this.data.append('type', this.type);
                
                axios.post(route('note.add'), this.data)
                  .then((response) => {
                    this.loading = false;
                    if (response.data.denied === true) {
                      $("#badword-warning-modal").modal('show');
                      return; 
                    }
                    this.content = '';
                    this.$emit('addNote', response.data.note);
                }).catch(error => {
                  this.loading = false;
                  for(var e in error.response.data.errors) {
                    this.errors.push(error.response.data.errors[e][0]);
                  }
                });
            },
        },
        watch:{
          files(){
            this.data = new FormData();
            this.files.forEach((item) => {
              if (item.type == 'image') {
                this.data.append('img[]', item.fileData);
              }else{
                this.data.append('documents[]', item.fileData);
              }
            });
          }

        },
        filters: {
          shortName(value){
            if(value.length <= 15) return value;
            return value.substring(0, 15)+'...';
          }
        }
    }   
</script>
