<template>
	<div>
        <div class="col-12 mt-4 mb-2 p-0" id="notes-wrap">
          <div class="row">
            <div class="col-md-4 col-5">
              <span class="heading">{{ Lang.get('adavai.fancies') }}</span>
            </div> 
            <div class="col-md-8 col-7">
              <ul class="nav justify-content-end heading-links">
              	<li class="nav-item">
	                <a class="nav-link" data-toggle="collapse" href="#collapseNoteSearch" role="button" aria-expanded="false" aria-controls="collapseNoteSearch">
	                  <i class="fas fa-search"></i>
	                </a> 
              	</li>
              <li class="nav-item" v-if="!adavai_profile">
                <a class="nav-link" href="#" v-if="!showAllNotes" @click.prevent="showUserNotes">
                  <span class="d-md-block d-none">{{ Lang.get('adavai.my.fancies') }}</span>
                  <i class="fas fa-user d-md-none"></i>
                </a> 
                <a class="nav-link" href="#" v-else @click.prevent="showAll">
                  <span class="d-md-block d-none">{{ Lang.get('adavai.all.fancies') }}</span>
                  <i class="fas fa-user d-md-none"></i>
                </a>
              </li>
              <li class="nav-item d-md-none">
                <a class="nav-link" :href="route('adavai.create')"> 
                  <i class="fas fa-plus"></i>
                </a>
              </li>
              <li class="nav-item">
                <span class="nav-link d-md-inline-block font-medium color-green pt-0 pr-1 d-none">{{ Lang.get('adavai.popular.first') }}</span>
				<div class="custom-control custom-switch d-inline-block" style="top:-2px">
				  <input type="checkbox" class="custom-control-input" id="popularFirstSwitch" v-model="sortPopular">
				  <label class="custom-control-label" for="popularFirstSwitch"></label>
				</div> 
              </li>
            </ul>
            </div>  
          </div>
        </div>
        
        <div class="col-12">
        	
        </div>

        <div class="row justify-content-end">
        	<div class="col-md-4 collapse" id="collapseNoteSearch">
				    	<input type="text" 
				    		   v-model="searchInput" 
				    		   class="form-control search-input-rounded my-3"
				    		   @keyup.enter="searchNotes" 
				    		   :placeholder="Lang.get('note.search')">
				
			</div>	
        </div>

		<note-add-component 
			v-if="newNote" 
			:owner="owner" 
			:author="user" 
			:type="type" 
			@addNote="noteAdded">
		</note-add-component>



		<div>

		<div class="col-md-12">
        	<div class="row" id="notes">
				<main-note-template v-for="(note, index) in notes" v-if="!note.hide" :note="note" :index="index" v-bind="propsToPass" v-bind:key="note.id"></main-note-template>
			</div>
			<infinite-loading v-if="loadNotes" @distance="1" @infinite="getNotes"></infinite-loading>
          <p class="text-center" v-if="search && !notes.length">{{ Lang.get('message.not.found') }}</p>
		</div>
        </div>

	</div>
</template>

<script>
Vue.component('main-note-template', require('./NoteTemplates/MainNoteTemplateComponent.vue').default);
Vue.component('InfiniteLoading', require('vue-infinite-loading'));
import route from '../route'; 
import Lang from '../lang'; 
import { noteScrollMixin } from '../mixins/NoteScrollMixin';

export default{
    updated: function () {
	  this.$nextTick(function () {
	    $(function () {
		  $('[data-toggle="tooltip"]').tooltip({html: true})
		});
	  })
	},
	props: ['owner', 'user', 'type', 'admin', 'adavai-profile-id', 'user_city_id', 'adavai_profile'],
	mixins: [noteScrollMixin],
	data(){
		return {
			searchInput: null,
			newNote: false,
			showAllNotes: false,
			showMyNotes: false,
			search: false,
			Lang: Lang,
			route: route,
			sortPopular: 0, 
			propsToPass: {
	          admin: this.admin,
	          owner: this.owner,
	          user: this.user,
	          storeNoteType: 'adavaiNotes',
	          type: this.type,
	        }
		}
	},
	computed: {
		notes(){ 
			return this.$store.state.adavaiNotes;
		}
	},
	destroyed(){
		this.$store.state.adavaiNotes = [];
	},
	methods: {
		getRouteName(){
			const userNotes = this.showMyNotes ? 1 : 0; 
			return this.adavaiProfileId ? route('get.user.adavai.notes')
					 : route('get.adavai.notes', [userNotes]);
		},
		getNotes($state){
			var data = {
				owner_id: this.owner,
				type: this.type,
				profile_id: this.adavaiProfileId,
				search: this.search,
				search_input: this.searchInput,
			}
			axios.post(this.getRouteName()+'?page='+this.page, data)
				.then((response) => {
					this.$store.state.adavaiNotes.push.apply(this.$store.state.adavaiNotes, response.data.notes);
					$state.loaded();
					this.page++;
					!response.data.notes.length ? this.loadNotes = false : null; 
			});
		},
		showUserNotes(){
			this.showMyNotes = true;
			this.showAllNotes = true;
			this.afterFetching();
		},
		showAll(){
			this.showMyNotes = false;
			this.showAllNotes = false;
			this.afterFetching();
		},
		searchNotes(search = true){
			this.search = search;
			this.afterFetching();
		},
		afterFetching(){
			this.page = 1;
			this.$store.state.adavaiNotes = [];
			this.loadNotes = true;
			$('html, body').animate({
		        scrollTop: parseInt($("#notes-wrap").offset().top)
		    }, 1000);
		}
	},
	watch: {
		searchInput(){
			if (this.searchInput == '') this.searchNotes(false);
		},
		sortPopular(value){
			if (value) {	
				this.$store.state.adavaiNotes.sort((a, b) => {
					if (!this.user_city_id) return (a.likes_count >= b.likes_count) ? -1 : 1;
					if (b.adavai.city_id == this.user_city_id && a.likes_count <= b.likes_count) return 1;
					else return (a.likes_count >= b.likes_count) ? -1 : 1;
				});
			} else {
				this.showAll();
			}
		}
	}
} 
</script> 