<template>
	<div>
		<div class="col-12 mt-3 mb-2">
			<div class="row">
				<div class="col-8 p-0">
					<h6 class="col-12 page-top-title p-0">{{ Lang.get('group.actual.news') }}</h6>
				</div>
				<div class="col-4 text-right p-0">
					<a href="#" v-if="is_admin" @click.prevent="(newNote = !newNote) && (hideComments = true)">
						{{ Lang.get('group.add') }}
					</a>
				</div>
			</div> 
		</div>

		<note-add-component 
			v-if="newNote" 
			:owner="owner" 
			:author="user" 
			:type="type" 
			@addNote="noteAdded">
		</note-add-component>


		<div>
		<div class="col-md-12">
          <div class="row" id="notes">
          		<main-note-template v-for="(note, index) in $store.state.groupNotes" v-if="!note.hide" :note="note" :index="index" v-bind="propsToPass" v-bind:key="note.id"></main-note-template>
          </div>
          <infinite-loading v-if="loadNotes" @distance="1" @infinite="getNotes"></infinite-loading>
        </div>
        </div>

	</div>
</template>

<script>
Vue.component('note-add-component', require('./Note/NoteAddComponent.vue').default);
Vue.component('note-edit-component', require('./Note/NoteEditComponent.vue').default);
Vue.component('main-note-template', require('./NoteTemplates/MainNoteTemplateComponent.vue').default);
Vue.component('InfiniteLoading', require('vue-infinite-loading'));
import route from '../route'; 
import Lang from '../lang'; 
import { noteScrollMixin } from '../mixins/NoteScrollMixin';

export default{
	props: ['owner', 'user', 'type', 'user_joined', 'group', 'is_admin', 'admin'],
	mixins: [noteScrollMixin],
	data(){
		return {
			newNote: false,
			showAllNotes: false,
			hideComments: false,
			Lang: Lang,
			propsToPass: {
	          admin: this.admin,
	          owner: this.owner,
	          user: this.user,
	          type: this.type,
	          user_joined: this.user_joined,
	          group: this.group,
	          is_admin: this.is_admin,
	          storeNoteType: 'groupNotes',
	        }
		}
	},
	created(){
		//this.getNotes();
	},
	destroyed(){
		this.$store.state.groupNotes = [];
	},
	computed: {
		notes(){
			return this.$store.state.groupNotes;
		}
	},
	methods: {
		noteAdded(note){
			this.$store.state.groupNotes.unshift(note);
			this.newNote = false;
			this.hideComments = true;
		},
		getNotes($state){
			axios.get(route('group.get.notes', this.owner)+'?page='+this.page)
				.then((response) => {
					 this.$store.state.groupNotes.push.apply(this.$store.state.groupNotes, response.data.notes);
					 $state.loaded();
					 this.page++;
					 !response.data.notes.length ? this.loadNotes = false : null; 
			});
		}
	}
} 
</script> 