<template>
	<div>

		<div class="col-12 mt-3 mb-2"> 
			<div class="row">
				<div class="col-8 p-0">
					<h6 class="col-12 page-top-title p-0">{{ Lang.get('mission.actual.news') }}</h6>
				</div>
				<div class="col-4 text-right p-0">
					<a :href="route('chat', [owner])" v-if="user_joined" class="mr-4">{{ Lang.get('mission.open.chat') }}</a>
					<a href="#" v-if="user_joined" @click.prevent="newNote = !newNote">
						{{ Lang.get('mission.create.new') }}
					</a>
				</div> 
			</div>
		</div>
 
		<note-add-component v-if="newNote" :owner="owner" :author="user" :type="type" @addNote="noteAdded"></note-add-component>

 
		<div class="col-md-12">
          <div class="row" id="notes">
          	<main-note-template v-for="(note, index) in notes" v-if="!note.hide && note.author" :note="note" :index="index" v-bind="propsToPass" v-bind:key="note.id"></main-note-template>
          </div>
           <infinite-loading v-if="loadNotes" @distance="1" @infinite="getNotes"></infinite-loading>
        </div>
 
	</div>
</template>

<script>
Vue.component('note-add-component', require('./Note/NoteAddComponent.vue').default);
Vue.component('note-edit-component', require('./Note/NoteEditComponent.vue').default);
Vue.component('main-note-template', require('./NoteTemplates/MainNoteTemplateComponent.vue').default);
Vue.component('InfiniteLoading', require('vue-infinite-loading'));
import route from '../route'; 
import Lang from '../lang'; 
import { noteScrollMixin } from '../mixins/NoteScrollMixin';

export default{
    updated: function () {
	  this.$nextTick(function () {
	    $(function () {
		  $('[data-toggle="tooltip"]').tooltip({html: true})
		});
	  })
	},
	props: ['owner', 'user', 'type', 'user_joined', 'admin'],
	mixins: [noteScrollMixin],
	data(){
		return {
			newNote: false,
			showAllNotes: false,
			hideComments: false,
			Lang: Lang,
			route: route,
			propsToPass: {
	          admin: this.admin,
	          owner: this.owner,
	          user: this.user,
	          type: this.type,
	          user_joined: this.user_joined,
	          storeNoteType: 'missionNotes',
	        }
		}
	},
	destroyed(){
		this.$store.state.missionNotes = [];
	},
	computed:{
		notes(){
			return this.$store.state.missionNotes;
		}
	},
	methods: {
		getNotes($state){
			axios.get(route('mission.get.notes', this.owner)+'?page='+this.page)
				.then((response) => {
					 this.$store.state.missionNotes.push.apply(this.$store.state.missionNotes, response.data.notes);
					 $state.loaded();
					 this.page++;
					 !response.data.notes.length ? this.loadNotes = false : null; 
			});
		},
		noteAdded(note){
			this.newNote = false;
			this.$store.state.missionNotes.unshift(note);
		},
	}
} 
</script> 