<template>
	<div class="col-4 float-right p-0">
		<input  type="text" 
				v-model="searchInput" 
				class="form-control search-input-rounded mt-3" 
				@keyup.enter="searchFunc()"
				:placeholder="Lang.get('note.search')">
	</div>
		
</template>

<script>
import route from '../route'; 
import Lang from '../lang'; 

export default{
	props:['storeNoteType'],
	data(){
		return {
			Lang: Lang,
			searchInput: null
		}
	},
	methods: {
		searchFunc(){
			if (this.storeNoteType == 'adavaiNotes') this.searchAdavai();
			else this.search();
		},
		searchAdavai(){
			this.$store.state[this.storeNoteType].forEach((note) => {
			  if (!note.content.toLowerCase().match(this.searchInput.toLowerCase())
			  	  && !note.author.nickname.toLowerCase().match(this.searchInput.toLowerCase())
			  	  && !note.adavai.city.title.toLowerCase().match(this.searchInput.toLowerCase())
			  	  && !note.adavai.date_formatted.toLowerCase().match(this.searchInput.toLowerCase())
			  	){
			  	this.$set(note, 'hide', true);
			  }else {
                this.$set(note, 'hide', false);
              }
			}); 
            $('html, body').animate({
		        scrollTop: parseInt($("#notes-wrap").offset().top)
		    }, 1000);
		},
		search(){
			this.$store.state[this.storeNoteType].forEach((note) => {
			  if (!note.content.toLowerCase().match(this.searchInput.toLowerCase())){
			  	this.$set(note, 'hide', true);
			  }else {
                this.$set(note, 'hide', false);
              }
			}); 
            $('html, body').animate({
		        scrollTop: parseInt($("#notes-wrap").offset().top)
		    }, 1000);
		}
	},
	watch:{
		searchInput(value){
			if (value == '') {
				this.$store.state[this.storeNoteType].forEach((note) => {
				  if (!note.content.toLowerCase().match(this.searchInput.toLowerCase())){
				  	this.$set(note, 'hide', true);
				  }else {
	                this.$set(note, 'hide', false);
	              }
				});
			}
		}
	}
} 
</script> 