<template>
	<div>

		<div class="col-12 mt-3 mb-2" v-if="!all_reports"> 
			<div class="row">
				<div class="col-12 text-right p-0">
					<a href="#" v-if="user_joined" @click.prevent="(newNote = !newNote) && (hideComments = true)">
						{{ Lang.get('note.add') }}
					</a>
				</div> 
			</div>
		</div>

		<note-add-component v-if="newNote" :owner="owner" :author="user" :type="type" @addNote="noteAdded"></note-add-component>

  
		<div class="col-md-12" v-for="(note, index) in notes" v-if="!note.hide && note.author">
          <div class="row" id="notes">
            <div class="col-md-12 my-2 block-white text-left">
              <div class="row p-4"> 
                  <figure class="p-0 note-user-img">
                    <img :src="note.author.avatar_thumb" width="50" height="50">
                  </figure> 
                  <div class="px-2 note-info">
                    <a :href="'/'+note.author.nickname" class="note-user mb-1" data-toggle="tooltip" :title="note.author.short_info">{{ note.author.nickname }}</a><br>
                    <span class="note-date">{{ note.posted_at }}</span>
                  </div>
                    <div class="dropdown note-options">
	                    <button class="btn btn-link px-1 py-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                      <i class="fas fa-ellipsis-h"></i>
	                    </button>
	                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
	                      <a class="dropdown-item" href="#" v-if="note.author.id == user && canManage(note)" @click.prevent="editNote(note, index)">{{ Lang.get('note.edit') }}</a>
	                      <a class="dropdown-item" href="#" v-if="canManage(note)" @click.prevent="deleteNote(note.id, index)">{{ Lang.get('note.delete') }}</a>
	                      <a class="dropdown-item note-report" href="#" @click.prevent="report(note.id)">{{ Lang.get('note.report') }}</a>
	                      <a href="#" class="dropdown-item color-red" v-if="admin" @click.prevent="adminDelete(note.id, index)">Удалить</a>
	                    </div> 
                    </div>
	                <div v-if="!note.edit" class="col-md-12 px-0">
		                <div class="row px-2">
			                <div class="col-12 px-2 mb-1">
			                  {{ note.content }}
			                </div>
			                <div class="col-3 p-md-2 p-1" v-for="img in note.images">
			                	<a :href="img.full_image" :data-fancybox="note.id">
			                		<img :src="img.thumbnail" class="img-fluid" alt="note">
			                	</a>
			  				</div>
			  				<div class="col-12 px-2" v-for="file in note.files">
			                	<a :href="file.file_path" target="_blank">
			                		<small><i class="fas fa-file"></i> {{ file.short_name }}</small>
			                	</a>
			  				</div>
			                	
		                </div> 
	                </div>
	                <note-edit-component v-if="note.edit" :note="note" :index="index" @editNote="noteEdited"></note-edit-component>
			        <note-comments-component :note="note" :user="user" @open="openComments" :hide="hideComments" :admin="admin" :close_comments="closeComments()"></note-comments-component>
              </div>
            </div>
          </div>
        </div>

	</div>
</template>

<script>
Vue.component('note-add-component', require('./Note/NoteAddComponent.vue').default);
Vue.component('note-edit-component', require('./Note/NoteEditComponent.vue').default);
import route from '../route'; 
import Lang from '../lang'; 
import { noteScrollMixin } from '../mixins/NoteScrollMixin';

export default{
    updated: function () {
	  this.$nextTick(function () {
	    $(function () {
		  $('[data-toggle="tooltip"]').tooltip({html: true})
		});
	  })
	},
	props: ['owner', 'user', 'type', 'user_joined', 'admin', 'all_reports', 'author_id', 'report_type'],
	mixins: [noteScrollMixin],
	data(){
		return {
			notes: [],
			content: null,
			errors: [],
			newNote: false,
			showAllNotes: false,
			hideComments: false,
			Lang: Lang
		}
	},
	created(){
		console.log(this.type);
		this.getNotes();
	},
	methods: {
		canManage(note){ 
			if (note.author_id == this.user || note.owner_id == this.user) return true;
			else return false;
		},
		getNotes(){
			const link = this.report_type != 'mission' ? route('adavai.reports.get', [this.owner], [this.type])
						 : route('mission.reports.get', [this.owner]);

			axios.get(link)
				.then((response) => {
					this.notes = response.data.notes;
			});
		},
		deleteNote(noteId, index){
			if (confirm("Вы уверены?")) {
				axios.get(route('note.delete', [noteId]))
					.then((response) => {
						if(response.data.deleted){
							this.notes.splice(index, 1);
						}
				});
			}
		},
		noteAdded(note){
			this.newNote = false;
			this.notes.unshift(note);
			this.hideComments = true;
		},
		editNote(note, index){
			this.$set(this.notes[index], 'edit', true);
		},
		noteEdited(data){
			this.$set(this.notes[data.index], 'edit', false);
			this.$set(this.notes[data.index], 'images', data.note.images);
			this.hideComments = true;
		},
		openComments(noteId){
			this.notes.forEach((note) => {
			  if (note.id != noteId){
			  	this.$set(note, 'hide', true);
			  }
			});
			this.showAllNotes = true;
		},
		report(noteId){
			axios.get(route('note.report', [noteId]))
				.then((response) => {
					$("#reported-modal").modal('show');
				});
		},
		adminDelete(noteId, index){
			if (confirm("Вы уверены?")) {
				axios.get(route('admin.delete.note', [noteId]))
					.then((response) => {
						this.notes.splice(index, 1);
					});
			}
		},
		closeComments(){
			var d = new Date();
			var n = d.getMilliseconds();
			Vue.set(self, 'close_comments', n);
			return n;
		}
	}
} 
</script> 