<template>
<div>
    <div class="col-12 block-white p-4 text-left">
                <div class="row">
                    <div class="col-8" id="chat-messages" ref="feed">
                        <div class="col-12">
                            <div class="row mb-4" v-for="message in messages" v-if="message.sender && message.sender.id != user_id" :id="message.ref">
                                <figure class="p-0 m-0 chat-user-img">
                                    <img :src="message.sender.avatar_thumb" width="35" height="35">
                                </figure>
                                <div class="px-2 chat-user-info">
                                    <a :href="'/'+message.sender.nickname" class="chat-user mb-1" target="_blank">{{ message.sender.nickname }}</a>
                                    <br> <span class="chat-date">{{ (message.pretty_date) ? message.pretty_date : Lang.get('chat.just.now') }}</span>
                                </div>
                                <div class="col-12 pl-0 mt-2"> 
                                    <span v-if="message.type == 'text'">{{ message.body }}</span>
                                    
                                    <a v-else-if="message.type == 'file'" :href="'/public/img/chat/'+message.body.file" target="_blank"><i class="fas fa-paperclip"></i> {{ message.body.file }}</a>

                                    <a href="#" v-else-if="message.type == 'adavai'" class="p-1" @click.prevent="openAdavai(message.body.note_id)">
                                        <span><i class="fas fa-share"></i> {{ message.body.content_short }}</span>
                                    </a>
                                </div>  
                            </div> 
                            <div class="row mb-4 justify-content-end" v-else>
                                <div class="chat-message-sender">
                                    <span class="chat-date">{{ message.pretty_date }}</span><br>
                                    <span v-if="message.type == 'text'">{{ message.body }}</span>
                                    <a v-else-if="message.type == 'file'" :href="'/public/img/chat/'+message.body.file" target="_blank"><i class="fas fa-paperclip"></i> {{ message.body.file }}</a>
                                    <a :href="message.body.url" v-else-if="message.type == 'adavai'" @click.prevent="openAdavai(message.body.note_id)" class="p-1" target="_blank">
                                        <span><i class="fas fa-share"></i> {{ message.body.content_short }}</span>
                                    </a>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="col-4" id="chat-search">
                        <h6 class="mb-3">{{ Lang.get('chat.all.chats') }}</h6>
                        <input type="text" v-model="searchInput" class="form-control search-input-rounded" :placeholder="Lang.get('chat.search')">

                        <div class="col-12 mt-3">
                            <div class="row mb-3 p-1" v-for="con in sortedConversations" :class="{'conversation-selected': selectedConversation == con.id,  '': selectedConversation != con.id}" v-if="!con.hide && con.companion" @click="selectConversation(con)">
                                <figure class="p-0 m-0 chat-user-img position-relative">
                                        <img :src="con.companion.avatar_thumb" width="50" height="50">
                                        <span class="chat-unread-badge" v-if="con.unreadCount">{{ con.unreadCount }}</span>
                                </figure>
                                <div class="px-2 chat-user-info">
                                    <a :href="'/'+con.companion.nickname" class="note-user mb-1">{{ con.companion.nickname }}</a>
                                    <br>
                                    <div>
                                        <div class="star-rating-readonly" :data-rating="con.companion.rating"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
 
                    </div>
                    <form class="col-12" @submit.prevent="sendMessage" v-on:keyup.enter="sendMessage">
                        <div class="row">
                            <div class="col-12">
                                <span v-for="error in errors" class="invalid-feedback d-block" role="alert">
                                    <span>{{ error }}</span>
                                </span>
                            </div>
                            <div class="col-12" id="message-send-form">
                                <hr class="mt-0">
                                <label>{{ Lang.get('chat.message') }}:</label>
                                <a href="#" class="fs-8 float-right color-gray confirm-required" v-if="selectedConversation && messages.length" @click.prevent="clearHistory">{{ Lang.get('chat.clear.history') }}</a>
                                <textarea class="form-control emoji-enabled" v-model="text" rows="3"></textarea>
                                <p v-if="file" class="color-green mt-2"><i class="fas fa-paperclip"></i> 
                                    {{ file.name }} 
                                    <a href="@" class="color-red" @click.prevent="removeFile"><i class="fas fa-times"></i></a>
                                </p>
                            </div>
                            <div class="col-12 mt-3">

                                    <label class="fileContainer color-green pt-0">
                                        <i class="fas fa-paperclip h6"></i>
                                        <input type="file" accept=".jpg, .jpeg, .png, .JPEG, .mp3, .docx" @change="uploadFile"/>
                                    </label>
                                <button type="submit" class="btn-default btn-default-sm w-auto float-right" :disabled="loading">
                                    <span v-if="loading">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
                                        {{ Lang.get('message.loading') }}
                                    </span>
                                    <span v-else>{{ Lang.get('chat.send') }}</span> 
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>


<div class="modal" tabindex="-1" role="dialog" id="note_modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <main-note-template :note="note" v-if="note" index="0"></main-note-template>
      </div>
    </div>
  </div>
</div>

</div>
</template>

<script>
    Vue.component('main-note-template', require('./NoteTemplates/MainNoteTemplateComponent.vue').default);
    import route from '../route'; 
    import Lang from '../lang'; 

    export default {

        props: ['user_id', 'selected'],
        data(){ 
            return {
                messages: [],
                users: [],
                conversations: [],
                text: null,
                file: null,
                searchInput: '',
                selectedConversation: null,
                Lang: Lang,
                errors: [],
                loading: false,
                note: null,  
            }
        },
        updated() {
            this.enableEmoji();

            this.$nextTick(function () {
                $(function () {
                    $(".star-rating-readonly").starRating({
                        readOnly: true,
                        starSize: 15,
                        useGradient: false,
                        activeColor: '#F7AA28', 
                        ratedColor: '#F7AA28',
                        starShape: 'rounded'
                      });
                    $(function () {
                      $('[data-toggle="tooltip"]').tooltip({html: true})
                    });
                });
            })

        },
        mounted() {
            Echo.private(`messages.${this.user_id}`)
                    .listen('NewMessage', (e) => {
                        this.hanleIncoming(e.message);
                    });
            this.getConversations();
            this.checkSelected();
        },
        methods: {
            getMessages(conversationId){
                axios.get(route('private-chat.get.messages', [conversationId]))
                    .then((response) => {
                        this.messages = response.data;
                });
            },
            getConversations(){
                axios.get(route('private-chat.get.conversations', [this.selected.id]))
                    .then((response) => {
                        this.conversations = response.data; 
 
                });
            },
            searchUser(){
                var consArray = this.getObjectValues(this.conversations);

                consArray.forEach((con) => {
                    if (!con.companion) return;
                  if (!con.companion.nickname.toLowerCase().match(this.searchInput.toLowerCase())){
                    this.$set(con, 'hide', true);
                  }else {
                    this.$set(con, 'hide', false);
                  }
                });
            },
            sendMessage(){
                if ((!this.text && !this.file) || !this.selectedConversation) return;
                this.loading = true;

                var data = new FormData();

                var body = (this.file) ? this.file.imgData : this.text;
                var type = (this.file) ? 'file' : 'text';

                data.append('body', body);
                data.append('conversation', this.selectedConversation);
                data.append('type', type);

                axios.post(route('private-chat.send.message'), data)
                    .then((response) => {
                        this.loading = false;
                        this.saveMessage(response.data);
                        this.text = '';
                        this.emojioneArea.setText('');
                        this.file = null;
                        $('.emojionearea').show();
                }).catch(error => {
                    this.loading = false;
                    this.errors.push(error.response.data.errors.body[0]);
                });
            },
            saveMessage(message){
                if (message.type == 'file') message.body = JSON.parse(message.body);
                this.messages.push(message);
            },
            scrollToBottom(){
                setTimeout(() => {
                    this.$refs.feed.scrollTop = this.$refs.feed.scrollHeight - this.$refs.feed.clientHeight;
                }, 50);
            },
            enablePusher() {
              let pusher = new Pusher(process.env.MIX_PUSHER_APP_KEY, {
                cluster: process.env.MIX_PUSHER_APP_CLUSTER
              });
              let channel = pusher.subscribe(
                `mc-chat-conversation.`+this.selectedConversation
              );
              channel.bind("Musonza\\Chat\\Eventing\\MessageWasSent", data => {
                if (data.message.sender.id != this.user_id){
                    this.saveMessage(data.message);
                    this.markAsRead(data.message);
                }
              });
            },
            smartScroll(){
                this.$nextTick(function () {
                    var unread_start = this.$el.querySelector("#unread_start");
                    if (unread_start) {
                        this.$refs.feed.scrollTop = this.$el.querySelector("#unread_start").offsetTop;
                        this.$el.querySelector("#unread_start").removeAttribute("id");
                    } else{
                        this.scrollToBottom();
                    }
                });
            },
            markAsRead(message){
                axios.get(route('private-chat.message.mark.read', [message.id]))
                    .then((response) => {
                });
            },
            selectConversation(conversation){
                this.selectedConversation = conversation.id;
                this.updateUnreadCount(conversation.companion, true);
                this.enablePusher();
            },
            enableEmoji(){
                var self = this;
                this.emojioneArea = $('.emoji-enabled')[0].emojioneArea;
                this.emojioneArea.on('keyup paste emojibtn.click', function() {
                  self.text = self.emojioneArea.getText()
                });
            },
            hanleIncoming(message) {
                if (this.selectedConversation && message.sender.id == this.selectedConversation) {
                    this.saveNewMessage(message);
                    return;
                }
                this.updateUnreadCount(message.sender, false);
            },
            updateUnreadCount(contact, reset) {
                var consArray = this.getObjectValues(this.conversations);
                consArray.forEach((con) => {
                    if (con.companion && con.companion.id == contact.id) {
                        if (reset)
                            con.unreadCount = 0;
                        else
                            con.unreadCount += 1;
                    }
                });
            },
            checkSelected(){
                if (this.selected) this.selectConversation(this.selected)
            },
            clearHistory(){
                if (confirm()){
                    axios.get(route('private-chat.message.clear', [this.selectedConversation]))
                        .then((response) => {
                            this.messages = [];
                            window.location.href = route('private-chat');
                    });
                }
            },
            uploadFile(e){
                var files = e.target.files;
                for (var i = 0, f; f = files[i]; i++) {
                  var reader = new FileReader();
                    reader.onload = (theFile => {
                      return (e) => {
                        this.file = {name: theFile.name, src: e.target.result, imgData: theFile};
                     };
                    })(f);

                    reader.readAsDataURL(f);
                }
                $('.emojionearea').hide();
            },
            removeFile(){
                this.file = null;
                $('.emojionearea').show();
                this.errors = [];
            },
            getObjectValues(obj){
                return Object.keys(obj).map(function(e){
                    return obj[e];
                }); 
            },
            openAdavai(noteId){
                this.note = null;
                axios.get(route('note.get', [noteId]))
                    .then((response) => {
                        if (response.data.note) {
                            this.note = response.data.note;
                            $('#note_modal').modal('show');
                        }
                });
            }
        },
        computed: {
            sortedConversations() {
                var consArray = this.getObjectValues(this.conversations);
                return _.sortBy(consArray, [(con) => {
                    if (con.id == this.selectedConversation) {
                        return Infinity;
                    }
                    return con.unreadCount;
                }]).reverse();
            }
        },
        watch:{
            searchInput(){
                this.searchUser();
            },
            messages(){
                this.smartScroll();
            },
            selectedConversation(selectedConversation){
                this.getMessages(selectedConversation);
            }
        }
    }
</script>
