<template>
<div>
    <div class="col-12 block-white p-4 text-left">
                <div class="row">
                    <div class="col-8" id="chat-messages" ref="feed">
                        <div class="col-12">
                            <div class="row mb-4" v-for="message in messages" v-if="message.sender.id != user_id" :id="message.ref">
                                <figure class="p-0 m-0 chat-user-img">
                                    <img :src="message.sender.avatar_thumb" width="35" height="35">
                                </figure>
                                <div class="px-2 chat-user-info">
                                    <a :href="'/'+message.sender.nickname" class="chat-user mb-1" target="_blank">{{ message.sender.nickname }}</a>
                                    <br> <span class="chat-date">{{ (message.pretty_date) ? message.pretty_date : Lang.get('chat.just.now') }}</span>
                                </div>
                                <div class="col-12 pl-0 mt-2"> 
                                    {{ message.body }}  
                                </div>
                            </div>
                            <div class="row mb-4 justify-content-end" v-else>
                                <div class="chat-message-sender">
                                    <span class="chat-date">{{ message.pretty_date }}</span><br>
                                    <span>{{ message.body }}</span>
                                </div>
                            </div>  
                        </div> 
                    </div>
                    <div class="col-4" id="chat-search">
                        <h6 class="mb-3">{{ Lang.get('chat.total.participants') }}: {{ users.length }}</h6>
                        <input type="text" v-model="searchInput" @change="searchUser" class="form-control search-input-rounded" :placeholder="Lang.get('chat.search')">

                        <div class="col-12 mt-3">
                            <div class="row mb-2 p-1" v-for="user, index in users" v-if="!user.hide && user">
                                <figure class="p-0 m-0 mt-1 chat-user-img">
                                        <a :href="'/private-chat/with/'+user.id">
                                            <img :src="user.avatar_thumb" width="50" height="50">
                                        </a>
                                </figure>
                                <div class="px-2 chat-user-info">
                                    <a :href="'/private-chat/with/'+user.id" class="note-user">{{ user.nickname }}</a>
                                    <br>
                                    <div>
                                        <div class="star-rating-readonly" :data-rating="user.rating"></div>
                                    </div>

                                    <div v-if="!user.admin || (user.admin && user.in_mission)">
                                        <div v-if="auth_user_in_mission">
                                            
                                        <a href="#" @click.prevent="
                                        markUser(index, user.id)" class="fs-8" v-if="!user.marked && user.marked != 'self'">{{ Lang.get('user.mark') }}</a>
                                        <a href="#" class="fs-8" v-else-if="user.marked == 'self'"></a>
                                        <a href="#" @click.prevent="unmarkUser(index, user.id)" class="fs-8 color-red" v-else>{{ Lang.get('user.unmark') }}</a>
                                        </div>
                                    </div>

                                    <div v-if="!user.admin || (user.admin && user.in_mission) && auth_user_in_mission">
                                        <div v-if="auth_user_in_mission">
                                            <a :href="route('complice.delete', [user.id], [mission_id])" class="fs-8 color-red" v-if="user.complice === 'complice'">
                                                {{ Lang.get('user.remove.complice') }}
                                            </a>
                                            <a :href="route('complice.delete', [user.id], [mission_id])" class="fs-8 color-gray" v-else-if="user.complice === 'requested'">
                                                {{ Lang.get('user.cancel.request') }}
                                            </a>
                                            <a :href="route('complice.list')" target="_blank" class="fs-8 color-gray" v-else-if="user.complice === 'waiting'">
                                                {{ Lang.get('user.waiting') }}
                                            </a>
                                            <a :href="route('complice.add', [user.id], [mission_id])" class="fs-8 color-green" v-else-if="user.complice === 'none'">
                                                {{ Lang.get('user.hook') }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
 
                    </div>
                    <form class="col-12" @submit.prevent="sendMessage" v-on:keyup.enter="sendMessage">
                        <div class="row">
                            <div class="col-12" id="message-send-form">
                                <hr class="mt-0">
                                <label>{{ Lang.get('chat.message') }}:</label>
                                <a href="#" class="fs-8 float-right color-gray" @click.prevent="clearHistory" v-if="messages.length">{{ Lang.get('chat.clear.history') }}</a>
                                <textarea class="form-control emoji-enabled" v-model="text" rows="3"></textarea>
                            </div>
                            <div class="col-12 mt-3">
                                <button type="submit" id="asd" class="btn-default btn-default-sm w-auto float-right" :disabled="loading">
                                    <span v-if="loading">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
                                        {{ Lang.get('message.loading') }}
                                    </span>
                                    <span v-else>{{ Lang.get('chat.send') }}</span> 
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
</div>
</template>

<script>
    import route from '../route'; 
    import Lang from '../lang'; 

    export default {
        props: ['user_id', 'conversation_id', 'mission_id', 'auth_user_in_mission'],
        data(){ 
            return {
                messages: [],
                users: [],
                text: null,
                searchInput: null,
                Lang: Lang,
                loading: false,
                route: route,  
            }
        },
        updated() {
            this.enableEmoji();
            this.$nextTick(function () {
                $(function () {
                    $(".star-rating-readonly").starRating({
                        readOnly: true,
                        starSize: 15,
                        useGradient: false,
                        activeColor: '#F7AA28', 
                        ratedColor: '#F7AA28',
                        starShape: 'rounded'
                      });
                });
            })
        },
        mounted() {
            this.getMessages();
            this.enablePusher();
            this.getUsers();
        },
        methods: {
            getMessages(){
                axios.get(route('chat.get.messages', [this.conversation_id]))
                    .then((response) => {
                        //console.log(response.data);
                        this.messages = response.data;
                });
            },
            getUsers(){
                axios.get(route('chat.get.users', [this.conversation_id], [this.mission_id]))
                    .then((response) => {
                        this.users = response.data;
                });
            },
            searchUser(){
                this.users.forEach((user) => {
                  if (!user.nickname.toLowerCase().match(this.searchInput.toLowerCase())){
                    this.$set(user, 'hide', true);
                  }else {
                    this.$set(user, 'hide', false);
                  }
                });
            },
            sendMessage(){
                if (!this.text) return;
                this.loading = true;

                var data = {body: this.text, conversation: this.conversation_id};

                axios.post(route('chat.send.message'), data)
                    .then((response) => {
                        this.loading = false;
                        this.saveMessage(response.data);
                        this.text = '';
                        this.emojioneArea.setText('');
                }).catch(error => {
                    this.loading = false;
                });
            },
            saveMessage(message){
                this.messages.push(message);
            },
            scrollToBottom(){
                setTimeout(() => {
                    this.$refs.feed.scrollTop = this.$refs.feed.scrollHeight - this.$refs.feed.clientHeight;
                }, 50);
            },
            enablePusher() {
              let pusher = new Pusher(process.env.MIX_PUSHER_APP_KEY, {
                cluster: process.env.MIX_PUSHER_APP_CLUSTER
              });
              let channel = pusher.subscribe(
                `mc-chat-conversation.`+this.conversation_id
              );
              channel.bind("Musonza\\Chat\\Eventing\\MessageWasSent", data => {
                if (data.message.sender.id != this.user_id){
                    this.saveMessage(data.message);
                    this.markAsRead(data.message);
                }
              });
            },
            smartScroll(){
                this.$nextTick(function () {
                    var unread_start = this.$el.querySelector("#unread_start");
                    if (unread_start) {
                        this.$refs.feed.scrollTop = this.$el.querySelector("#unread_start").offsetTop;
                        this.$el.querySelector("#unread_start").removeAttribute("id");
                    } else{
                        this.scrollToBottom();
                    }
                });
            },
            markAsRead(message){
                axios.get(route('chat.message.mark.read', [message.id]))
                    .then((response) => {
                });
            },
            enableEmoji(){
                var self = this;
                this.emojioneArea = $('.emoji-enabled')[0].emojioneArea;
                this.emojioneArea.on('keyup paste emojibtn.click', function() {
                  self.text = self.emojioneArea.getText()
                });
            },
            clearHistory(){
                if (confirm()){
                    axios.get(route('chat.message.clear', [this.conversation_id]))
                        .then((response) => {
                            this.messages = [];
                    });
                }
            },
            markUser(index, userId){ 
                axios.post(route('user.mark'), {id: userId, mission_id: this.mission_id})
                    .then((response) => {
                        this.$set(this.users[index], 'marked', true);
                });
            },
            unmarkUser(index, userId){
                axios.post(route('user.unmark'), {id: userId, mission_id: this.mission_id})
                    .then((response) => {
                        this.$set(this.users[index], 'marked', false);
                });
            }
        },
        watch:{ 
            searchInput(){
                this.searchUser();
            },
            messages(){
                this.smartScroll();
            }
        }
    }
</script>
