<template>
	<div>

		<div class="col-md-12">
        	<div class="row" id="notes">
				<main-note-template 
					v-for="(note, index) in notes" 
					v-if="!note.hide" 
					:note="note" 
					:index="index" 
					template="user" 
					v-bind="propsToPass" 
					v-bind:key="note.id"></main-note-template>
			</div>
		</div>

	</div>
</template>

<script>
Vue.component('main-note-template', require('./NoteTemplates/MainNoteTemplateComponent.vue').default);
import route from '../route'; 
import Lang from '../lang'; 

export default{
    updated: function () {
	  this.$nextTick(function () {
	    $(function () {
		  $('[data-toggle="tooltip"]').tooltip({html: true})
		});
	  })
	},
	props: ['owner', 'user', 'type', 'admin', 'report'],
	data(){
		return {
			newNote: false, 
			showAllNotes: false,
			hideComments: false,
			Lang: Lang,
			propsToPass: {
	          admin: this.admin,
	          owner: this.owner,
	          user: this.user,
	          type: this.type,
	          isReport: this.report,
	          storeNoteType: 'reportNotes',
	        }
		}
	},
	created(){
		this.getNotes(); 
	},
	computed:{
		notes(){
			return this.$store.state.reportNotes;
		}
	},
	methods: {
		getNotes(){
			var link = (this.report == 1) ? 'admin.get.reports' : 'admin.get.badword.reports';
			axios.get(route(link))
				.then((response) => {
					this.$store.state.reportNotes = response.data.notes;
			});
		},
		openComments(noteId){
			this.notes.forEach((note) => {
			  if (note.id != noteId){
			  	this.$set(note, 'hide', true);
			  }
			});
			this.showAllNotes = true;
		},
		adminDelete(noteId, index){
			if (confirm("Вы уверены?")) {
				axios.get(route('admin.delete.note', [noteId]))
					.then((response) => {
						this.notes.splice(index, 1);
					});
			}
		}
	}
} 
</script> 