<template>
            <div class="col-md-12 my-2 block-white text-left" v-if="note.adavai" :id="'note-'+note.id">
              <div class="row p-4">
                  <figure class="p-0 note-user-img">
                    <img :src="note.author.avatar_thumb" width="60" height="60">
                  </figure>
                  	<div class="px-2 note-info">
						<a :href="route('adavai.profile', [note.author.nickname])" data-toggle="tooltip" class="note-user fs-10 mb-1" :title="note.author.short_info">
							<span class="color-gray">{{ Lang.get('adavai.organizer') }}:</span> {{ note.author.nickname }}
						</a>
						<br> 
						<small class="note-date d-block">{{ note.adavai.city.title }} {{ note.adavai.date_formatted }}</small>
						<small class="color-green">
							<a :href="route('adavai.subscribers', [note.id])" target="_blank">{{ note.subscriptions_count }} {{ Lang.get('adavai.participants') }}</a>
						</small> 
					</div> 
                    <div class="dropdown note-options">
                    	<a href="#" class="mr-2" @click.prevent="report(note.id)"
							data-toggle="tooltip" data-placement="top" :title="Lang.get('adavai.report')">
							<i class="fas fa-flag"></i>
						</a>
                    <button class="btn btn-link px-1 py-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-if="admin || isAuthor">
                      <i class="fas fa-ellipsis-h"></i>
                    </button> 
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" :href="route('adavai.edit', [note.id])" v-if="note.author.id == user && canManage(note)">{{ Lang.get('adavai.edit') }}</a>
                      <a class="dropdown-item" href="#" v-if="canManage(note)" @click.prevent="deleteNote(note.id, index)">{{ Lang.get('adavai.delete') }}</a>
                      <a class="dropdown-item note-report" href="#" v-if="(user == owner) || note.repost" @click.prevent="detach(note.repost, index)">{{ Lang.get('note.detach') }}</a>
                      <a href="#" class="dropdown-item color-red" v-if="admin" @click.prevent="adminDelete(note.id, index)">Удалить</a>
                    </div>
                    </div>
	                <div v-if="!note.edit" class="col-md-12 px-0"> 
		                <div class="row px-2">
			                <div class="col-12 px-2 mb-1">
			                  {{ note.content }}
			                </div>
			                <div class="col-3 p-md-2 p-1" v-for="img in note.images">
			                	<a :href="img.full_image" :data-fancybox="note.id">
			                		<img :src="img.thumbnail" class="img-fluid" alt="note">
			                	</a>
			  				</div>
			                	
		                </div> 
	                </div>
	                <note-edit-component v-if="note.edit" :note="note" :index="index" @editNote="noteEdited"></note-edit-component>
			        
			        <note-comments-component :note="note" :user="user" @open="openComments" :hide="hideComments" :admin="admin" :close_comments="closeComments()" :is-author="isAuthor"></note-comments-component>

              </div>
            </div>
</template>

<script>
	import route from '../../route'; 
	import Lang from '../../lang'; 
	import { noteMixin } from '../../mixins/NoteMixin';
	export default {
		props: ['note', 'index', 'admin', 'user', 'isAuthor', 'storeNoteType', 'type'],
		mixins: [noteMixin],
		data(){
			return {
				route: route,
				Lang: Lang
			}
		},
		methods: {
			canManage(note){
				if (this.type != 'adavai') return false; 
				if (note.author_id == this.user) return true;
				else return false;
			},
			report(noteId){
				axios.get(route('adavai.report', [noteId]))
					.then((response) => {
						$("#reported-modal").modal('show');
				});
			},
		},
	}
</script>

