<template>
	<component :is="componentType" v-bind="propsToPass"></component>
</template>

<script>
	Vue.component('adavai-template', require('./AdavaiTemplate.vue').default);
	Vue.component('user-template', require('./UserTemplate.vue').default);
	Vue.component('group-template', require('./GroupTemplate.vue').default);
	Vue.component('mission-template', require('./MissionTemplate.vue').default);
	Vue.component('diary-template', require('./DiaryTemplate.vue').default);
	export default {
		props: [
			'note', 
			'index', 
			'owner', 
			'user', 
			'admin',
			'type',
			'user_joined', 
			'group', 
			'is_admin',
			'all_reports',
			'isReport',
			'template',
			'likedNotes',
			'storeNoteType',
		],
		computed:{
			componentType(){
				var temp = this.template ? this.template : this.note.type; 
				return temp + '-template'; 	
			}
		},
		data(){
			return {
				propsToPass: {
					note: this.note, 
					index: this.index, 
					owner: this.owner, 
					user: this.user, 
					type: this.type,
					admin: this.admin,
					user_joined: this.user_joined, 
					group: this.group, 
					is_admin: this.is_admin,
					all_reports: this.all_reports,
					isReport: this.isReport,
					likedNotes: this.likedNotes,
					isAuthor: this.note.author_id == this.user,
					storeNoteType: this.storeNoteType,
				}
			}
		},
		methods: {

		},
	} 
</script>

