<template>
            <div class="col-md-12 my-2 block-white text-left" :id="'note-'+note.id">
              <div class="row p-4">
                  <figure class="p-0 note-user-img">
                    <img :src="note.author.avatar_thumb" width="50" height="50">
                  </figure>
                  <div class="px-2 note-info">
                    <a :href="'/'+note.author.nickname" class="note-user mb-1" data-toggle="tooltip" :title="note.author.short_info">{{ note.author.nickname }}</a><br>
                    <span class="note-date">{{ note.posted_at }}</span>
                  </div>
                    <div class="dropdown note-options">
                    <button class="btn btn-link px-1 py-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#" v-if="note.author.id == user && canManage(note)" @click.prevent="editNote(note.id, index)">{{ Lang.get('mission.edit') }}</a>
                      <a class="dropdown-item" href="#" v-if="canManage(note) && !note.repost" @click.prevent="deleteNote(note.id, index)">{{ Lang.get('mission.delete') }}</a>
                      <a class="dropdown-item note-report" href="#" v-if="(user == owner) && note.repost" @click.prevent="detach(note.repost, index)">{{ Lang.get('note.detach') }}</a>
                      <a class="dropdown-item note-report" href="#" @click.prevent="report(note.id)">{{ Lang.get('mission.report') }}</a>
                      <a href="#" class="dropdown-item color-red" v-if="admin" @click.prevent="adminDelete(note.id, index)">Удалить</a>
                    </div>
                    </div>
	                <div v-if="!note.edit" class="col-md-12 px-0">
		                <div class="row px-2">
			                <div class="col-12 px-2 mb-1">
			                  {{ note.content }}
			                </div>
			                <div class="col-3 p-md-2 p-1" v-for="img in note.images">
			                	<a :href="img.full_image" :data-fancybox="note.id">
			                		<img :src="img.thumbnail" class="img-fluid" alt="note">
			                	</a>
			  				</div>
			  				<div class="col-12 px-2" v-for="file in note.files">
			                	<a :href="file.file_path" target="_blank">
			                		<small><i class="fas fa-file"></i> {{ file.short_name }}</small>
			                	</a>
			  				</div>
			                	
		                </div> 
	                </div>
	                <note-edit-component v-if="note.edit" :note="note" :index="index" @editNote="noteEdited"></note-edit-component>
			        <note-comments-component :note="note" :user="user" @open="openComments" :hide="hideComments" :admin="admin" :close_comments="closeComments()"></note-comments-component>
              </div>
            </div>
</template>

<script>
import route from '../../route'; 
import Lang from '../../lang'; 
import { noteMixin } from '../../mixins/NoteMixin';
export default{
    updated: function () {
	  this.$nextTick(function () {
	    $(function () {
		  $('[data-toggle="tooltip"]').tooltip({html: true})
		});
	  })
	},
	props: ['note', 'index', 'owner', 'user', 'type', 'user_joined', 'admin', 'storeNoteType', 'isAuthor'],
	mixins: [noteMixin],
	data(){
		return {
			content: null,
			hideComments: false,
			Lang: Lang,
			route: route
		}
	},
	methods: {
		canManage(note){ 
			if (note.author_id == this.user || note.owner_id == this.user) return true;
			else return false;
		},
	}
} 
</script> 