<template>

			
            <div class="col-md-12 my-2 block-white text-left" :id="'note-'+note.id">
              <div class="row p-4">
                  <figure class="p-0 note-user-img">
                    <img :src="note.author.avatar_thumb" width="50" height="50">
                  </figure>
                  <div class="px-2 note-info">
                    <a :href="'/'+note.author.nickname" class="note-user mb-1" data-toggle="tooltip" :title="note.author.short_info">
                    	{{ note.author.user_name }} <span v-if="note.type == 'diary'" class="badge badge-danger">{{ Lang.get('note.from.diary') }}</span>
                    </a>
                    <br>
                    <span class="note-date">{{ note.posted_at }}</span>
                  </div>
                    <div class="dropdown note-options">
                    <button class="btn btn-link px-1 py-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

                      <a class="dropdown-item" href="#" v-if="note.author.id == user && canManage(note) && !isReport" @click.prevent="editNote(note.id, index)">
                      	{{ Lang.get('note.edit') }}
                  	  </a>

                      <a class="dropdown-item" href="#" v-if="canManage(note) && !note.repost && !isReport" @click.prevent="deleteNote(note.id, index)">
                      	{{ Lang.get('note.delete') }}
                      </a>
                      
                      <a class="dropdown-item note-report" href="#" @click.prevent="report(note.id)" v-if="!isReport">
                      		{{ Lang.get('note.report') }}
                      </a>

                      <a class="dropdown-item note-report" href="#" v-if="(user == owner) && note.repost && !isReport" @click.prevent="detach(note.repost, index)">
                      	{{ Lang.get('note.detach') }}
                      </a>
                      
                      <a href="#" class="dropdown-item color-red" v-if="admin" @click.prevent="adminDelete(note.id, index)">Удалить</a>
                    </div>

                    </div>
	                <div v-if="!note.edit" class="col-md-12 px-0"> 
		                <div class="row px-2">
			                <div class="col-12 px-2 mb-1">
			                  {{ note.content }}
			                </div>
			                <div class="col-3 p-md-2 p-1" v-for="img in note.images">
			                	<a :href="img.full_image" :data-fancybox="note.id">
			                		<img :src="img.thumbnail" class="img-fluid" alt="note">
			                	</a>
			  				</div>
			  				<div class="col-12 px-2" v-for="file in note.files">
			                	<a :href="file.file_path" target="_blank">
			                		<small><i class="fas fa-file"></i> {{ file.short_name }}</small>
			                	</a>
			  				</div>
			                	
		                </div> 
	                </div>
	                <note-edit-component v-if="note.edit" :note="note" :index="index" @editNote="noteEdited"></note-edit-component>
			        <note-comments-component :note="note" :user="user" @open="openComments" :hide="hideComments" :admin="admin" :close_comments="closeComments()" :type="type"></note-comments-component>
              </div>
            </div>

</template>

<script>
import route from '../../route'; 
import Lang from '../../lang'; 
import { noteMixin } from '../../mixins/NoteMixin';
export default{
    updated: function () {
	  this.$nextTick(function () {
	    $(function () {
		  $('[data-toggle="tooltip"]').tooltip({html: true})
		});
	  })

	},
	props: ['note', 'index', 'owner', 'user', 'type', 'admin', 'isReport', 'likedNotes', 'storeNoteType', 'isAuthor'],
	mixins: [noteMixin],	
	data(){
		return {
			content: null,
			Lang: Lang,
		} 
	},
	methods: {
		canManage(note){
			if (note.type == 'diary' || this.likedNotes) return false;
			var type = (note.type == 'mission' || note.type == 'group');
			if ((note.author_id == this.user || note.owner_id == this.user) && !type ) return true;
			else return false;
		},
		adminDelete(noteId, index){
			if (confirm("Вы уверены?")) {
				axios.get(route('admin.delete.note', [noteId]))
					.then((response) => {
						const list = this.isReport ? 
								this.$store.state.reportNotes :
								this.$store.state[this.storeNoteType];

						const note = list.find(note => {
							return note.id == noteId;
						});
						list.splice(list.indexOf(note), 1);

					});
			}
		},
	},
} 
</script> 